@using SimpleCalculator.Models;
@model Calculator
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="Calculate">
    <input asp-for="Operand1" />
    <select asp-for="Operator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input asp-for="Operand2" />
    <button type="submit">Calculate</button>
</form>
<p>Result: @Model.Result</p>